{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{%static 'css/homeFlex.css'%}">




<body>

<div>
                             
    <style>
        .grid-container{
            display: grid;
            grid-template-rows:    repeat(4, 400px);
            grid-template-columns: repeat(4, 1pc);
            justify-content: space-evenly;
            justify-items: center;
            align-content: space-evenly;
            align-items: center;
            }

        

        .grid-item {
            border: 5px solid black;
            padding: 15px;  
            }

        .someHeader {
            height: 50px;
            }

        .img {
            width:300px;
            height:auto;
        }
        
        .space{
            height:15px;
        }

    </style>
    <div class="someHeader"></div>
    <div class="someHeader"></div>
    <div class="someHeader"></div>

    <div class="grid-container">
        {% for item in clothing %}
        <div class="grid-item">
        <div class="space"></div>
        <img src="{{MEDIA_URL}}{{item.clothing_img.url}}" width = "250" height = "250">
        <h5>{{ item.name }}</h5>
        <h6>{{ item.brand }}</h6>
        <h6>{{ item.price }}</h6> 
        <p>{% include 'htmx/cart_add.html' %}</p>
        </div>
        {% endfor %}
    </div> 
{% endblock %}

</div>